<ion-view title="Horse Races">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <!-- Content -->
    <div class="card">
      <div class="item item-divider item-assertive">
        28th November, 2014
        <span class="put-right">Bangalore</span>
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item assertive">
            Into the blue
            <span class="item-note">
              10:30 am
            </span>
          </li>
          <li class="item assertive">
            Red Riding Hood
            <span class="item-note">
              11:30 am
            </span>
          </li>
          <li class="item assertive">
            Carpe Diem
            <span class="item-note">
              12:30 pm
            </span>
          </li>
          <li class="item assertive">
            Magicial Valley
            <span class="item-note">
              1:30 pm
            </span>
          </li>
        </ul>
      </div>
      <div class="item item-divider item-assertive">
        29th November, 2014
        <span class="put-right">Mysore</span>
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item assertive">
            Into the blue
            <span class="item-note">
              10:30 am
            </span>
          </li>
          <li class="item assertive">
            Red Riding Hood
            <span class="item-note">
              11:30 am
            </span>
          </li>
          <li class="item assertive">
            Carpe Diem
            <span class="item-note">
              12:30 pm
            </span>
          </li>
          <li class="item assertive">
            Magicial Valley
            <span class="item-note">
              1:30 pm
            </span>
          </li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
