<ion-view title="Horse Races">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" >
    <!-- Content -->
    <a href="#/app/racecard?raceId=raceID" ng-click = "setRaceId('{{i.id}}')" style="text-decoration:none" ng-repeat="i in races">
	<div  class = "card pad-med" style="background-color:rgba({{i.color}},0.85);margin-bottom:-4px;">		<!--Heading--> <!-- 73, 143, 36 -->
		<span class = "semi-heading white">{{i.place}}</span>
		<br/>
		<span class="put-right date">{{i.date}}</span>
	</div>
	<div class="button-bar" style="margin:2%;width : 96%; margin-top:0px; z-index=-1;">
	<span class="button button-small " style="border:solid 2px white;border-top:none;background-color:rgba({{i.color}},0.85);color : white;" ng-repeat="j in i.races" ng-click="setRaceNo({{j-1}})">{{j}}</span>
	</div>
	</a>
	
  </ion-content>
</ion-view>
