/* Empty. Add your own CSS if you like */
.put-right{
	float:right;
}
.put-left{
	float:left;
}
.divCell{
	margin : 5px;
	padding : 5px;
	border-radius : 3px;
	background-color : rgba(240,240,240,0.85);
}


.pad-med 
{
	padding : 10px;
	
}
.pad-heading 
{
	padding : 20px;
	background-color : rgba(204,35,17,0.85);
}

.shaddow{
	background-color : #fefefe;
}

body
{
	font-family : ubuntu;
}

.heading
{
	color : white;
	font-family : ubuntu;
	font-size : 50px;
	
}
.date 
{
	font-family : ubuntu;
	font-style : italic;
	color : white;
	font-size : 18px;
	
}

.tb-data
{
	font-family : ubuntu;
	color : grey;
	font-size : 12px;
	text-align : center;
}

.semi-heading
{
	color : grey;
	font-family : ubuntu;
	font-size : 30px;
}